@page
@model IndexModel
@{
}

<link href="~/lib/jquery/dist/jquery.min.js" rel="stylesheet" />

<partial name="_ListPhrases" model="Model.PhraseInputs" />
<div id="control-container">
    <button id="button-add">Add</button>
</div>
<div id="edit-container">

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/phrase/phrase.js"></script>